---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Whatsapp from "../assets/icons/Whatsapp.astro";
import Facebook from "../assets/icons/Facebook.astro";

export interface StartupCardProps {
  startup: {
    id: number;
    name: string;
    description: string;
    image: ImageMetadata;
    logo: ImageMetadata;
    phone?: string;
    facebook?: string;
    mainPageUrl: string;
    categoryIds: number[];
  };
}

const { startup } = Astro.props;

const message = encodeURIComponent(
  `Hola, vi tu perfil en Click & Party y me gustaría más información sobre tus servicios`,
);
---

<div class="group w-40 md:w-52 rounded-2xl overflow-hidden bg-white shadow-md">
  <a href={startup.mainPageUrl} target="_blank">
  <div class="relative">
    <Image
      src={startup.image}
      alt={startup.name}
      class="w-full h-36 md:h-44 object-cover"
      inferSize
    />

    <div class="absolute left-1/2 bottom-0 translate-y-1/2 -translate-x-1/2">
      <div
        class="w-12 md:w-16 h-12 md:h-16 rounded-full bg-white p-1 md:p-2 shadow-md flex items-center justify-center"
      >
        <Image
          src={startup.logo}
          alt={startup.name}
          class="object-contain w-full h-full"
        />
      </div>
    </div>
  </div>

  <div class="mt-4 p-3 md:p-4 text-center flex flex-col gap-2">
    <h5 class="text-base font-bold">
      {startup.name}
    </h5>

    <p>{startup.description}</p>

    {
      startup?.phone && (
        <a
          href={`https://wa.me/${startup.phone}?text=${message}`}
          target="_blank"
          class="text-secondary flex items-center justify-center gap-1"
        >
          <Whatsapp class="h-4 w-4 md:h-6 md:w-6" />
          Contactar
        </a>
      )
    }
  {
    startup?.facebook && (
      <a
        href={`https://m.me/${startup.facebook}`}
        target="_blank"
        class="text-blue-brand flex items-center justify-center gap-1"
      >
        <Facebook class="h-4 w-4 md:h-6 md:w-6" />
        Contactar
      </a>
    )
  }
  </div>
</a>
</div>
